body {
	margin: 0;
	padding: 0;
	font-size: 100%; /* 16px base font size, use rem for other font sizes */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}

p {
	line-height: 1.35rem;
}

a {
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 5px;
}

a:visited {
	color: #444;
}

a:hover {
	border-bottom: 1px solid #98C83E;
}

ul {
	list-style: none;
	padding: 0;
}

/* App inner container */
#container {
	width: 100%;
}