/* Collection of categories and posts */
#collection {
	margin: 0 10%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

/* Category separators */
#collection > li {
	border-bottom: 1px solid #eee;
	padding: 2rem 0 1.5rem;
	width: 100%;
}

@media (min-width: 768px) { 
#collection > li {
		width: 50%;
	}
}

#collection > li:last-child {
	border-bottom: none;
}

/* Category title */
#collection > li h2 {
	font-size: 1.25rem;
}

#collection > li h2 .totalposts {
	font-size: 1rem;
}

#nothingfound {
	padding-top: 2rem;
}