/* Collection of categories and posts */
#collection {
	margin: 0 10%;
}

/* Category separators */
#collection > li {
	border-bottom: 1px solid #eee;
	padding: 2rem 0 1.5rem;
}

#collection > li:last-child {
	border-bottom: none;
}

/* Category title */
#collection > li h2 {
	font-size: 1.25rem;
}

#nothingfound {
	padding-top: 2rem;
}