#header {
	flex-wrap: wrap;
	margin-top: 30px;
	border-bottom: 2px solid #98C83E;
}

#header h1 {
	margin: 0;
	padding: 30px 10%;
	font-size: 1.5rem;
	flex-grow: 2;
}

@media (min-width: 768px) { 
	#header {
		display: flex;
		align-items: baseline;
	}
}